<div class='card col-6 col-sm-4 col-md-3'>
  <img src='{{this.image_url}}' class='card-img-top' alt='...' />
  <div class='card-body'>
    <h5 class='card-title'>{{this.name}}</h5>
    <p class='card-text'>{{this.tagline}}</p>
    <p class='card-text'>{{this.description}}</p>
    {{#if extraInfo}}
      <p class='card-text'>{{this.food_pairing}}</p>
      <p class='card-text'>{{this.brewers_tips}}</p>
    {{/if}}
    {{#if moreInfo}}
      <p class='card-text'><strong>Food pairing:</strong>
        {{this.food_pairing}}</p>
      <p class='card-text'>{{this.brewers_tips}}</p>
      <p class='card-text'>{{this.first_brewed}}</p>
      <p class='card-text'>{{this.abv}}</p>
      <p class='card-text'>{{this.ibu}}</p>
      <p class='card-text'>{{this.attenuation_level}}</p>
      <p class='card-text'>{{this.ingredients.yeast}}</p>
      <p class='card-text'>{{{this.contributed_by}}}</p>
    {{/if}}
    <a href='/beers/{{id}}' class='btn btn-primary'>Go somewhere</a>
  </div>
</div>