<div>
{{#each this}}
    <h2>{{name}}</h2> 
    <img src='{{image_url}}' alt='' width='96'>
    <h3>{{tagline}}</h3>
    <p>{{description}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewers_tips}}</p>
{{/each}}
</div>